<ion-view title="Справка" id="question-edit">
  <div class="spinner" loading>
    <ion-spinner icon="android"></ion-spinner>
  </div>
  <ion-nav-buttons side="right" class="has-header">
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div style="text-align: center;">
      <h3>Мобильное приложение mobile forms</h3>
    </div>
    <div>
      <h3>О приложениии</h3>
      <p>Мобильное приложение mobile-forms предостовляет пользователям возможность для проведения электронных опросов
        С помощью данного приложения пользователь может создавать, публиковать, проходить электронные опросы и
        просматривать данные на них ответы.
      </p>
    </div>
    <div>
      <h3>Основные возможности</h3>
      <h4>Создание опроса</h4>
      <p>Для создания опроса необходимо авторизоваться в приложении через социальную сеть ВКонтакте и перейти в боковом
        меню
        в пункт <b>Мои опросы</b>. По нажатию кнопки со значком <b>+</b> будет открыто диалоговое окно создание опроса.
        В данном
        необходимо ввести требуемую информацию об опросе и создать вопросы опроса. Для сохранения созданного опроса
        небходимо вызвать
        диалоговое меню в левом верхнем углу экрана и нажать кнопку <b>сохранить</b></p>.
      <img src="../img/quiz.jpg" width="90%">
      <h4>Прохождение опроса</h4>
      <p>Для прохождения опроса необходимо выбрать интересующий опрос в списке опросов. На открывшемся экране необходимо
        нажать кнопку
        <b>Пройти опрос</b>. По нажатию данной кнопки будет открыт экран содержащий список всех вопросов выбранного
        опроса. Для ответа
        на вопрос необходимо нажать на соответсвующий вопрос из списка. При нажатии на вопрос будет открыт экран для
        ответа на вопрос,
        на котором, в зависимости от типа ответа и вопроса, пользователь отвечает на поставленный вопрос. Для завершения
        прохождения опроса
        необходимо вызвать диалоговое меню в левом верхнем углу экрана и нажать кнопку <b>сохранить</b></p>
      <img src="../img/questions.jpg" width="90%">
      <h4>Просмотр ответов</h4>
      <p>Для просмотра ответов необходимо нажать на интересующий опрос в сприске опросов. На открвышемся экране
        необходимо выбрать вкладку
        ответы. На данной вкладке присутсвует элемент для выбора способа группировки ответов. При выборе способа
        группировки <b>по пользователям</b>,
        в списке ответов сначала будут показаны все пользователи прошедщие данный опрос. При нажатии на пользователя
        список раскрывается,
        показывая ответы данного пользователя на каждой вопрос опроса. При выборе способа группировки <b>по вопросам</b>,
        в списке ответов сначал
        отображаются все вопросы опроса. При нажатии на вопрос список раскрывается и выводятся ответы всех пользователей
        на соответсвующий опрос.</p>
      <img src="../img/answers.jpg" width="90%">
    </div>
    <div>
      <h3>Обратная связь</h3>
      <p>При возникновении каких либо вопросов по мобильному приложению обращайтесь по адресу: <b>mineloveguitar@gmail.com</b>
      или <b>boris_traktor@yandex.ru</b></p>
    </div>
  </ion-content>
</ion-view>
