<ion-view title="Вопрос" id="question-answer">
  <div class="spinner" loading>
    <ion-spinner icon="android"></ion-spinner>
  </div>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-alert"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="question-text" style="color:#000000;">
      <p>Текст вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст
        вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст
        вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст вопроса. Текст вопроса.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <ion-list id="variants" class="manual-list-fullwidth">
      <ion-checkbox>Вариант 1</ion-checkbox>
      <ion-checkbox>Вариант 2</ion-checkbox>
      <ion-checkbox>Вариант 3</ion-checkbox>
    </ion-list>
    <div class="bar bar-footer">
      <div class="button-bar">
        <button class="button button-positive icon ion-chevron-left"></button>
        <button class="button button-positive icon ion-chevron-right"></button>
      </div>
    </div>
  </ion-content>
</ion-view>
