<ion-view title="Вопрос" id="question-edit">
  <div class="spinner" loading>
    <ion-spinner icon="android"></ion-spinner>
  </div>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-alert-circled" ng-if="question.isRequired" ng-click="openPopover($event)" style="color: red;"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <h4>{{question.text}}</h4>
    </div>
    <form class="list" novalidate="" name="progressForm">
      <ion-list class="manual-list-fullwidth">

        <label ng-if="question.imageValue" class="item item-input item-stacked-label" style="text-align: center;">
          <div>Прикрепленное изображение</div>
          <img ng-src="{{question.imageValue}}" style="width : 90% ; ">
        </label>
        <label ng-if="question.geoValue" class="item item-input item-stacked-label"
               ng-click="viewGeo(question.geoValue)">
          <div>Прикрепленное местоположение</div>
          <i class="icon ion-map center" style="font-size: 100px;"> </i>
        </label>

        <label ng-if="question.questionType ==='free'" class="item item-input item-stacked-label">
          <div ng-if="question.answerFormat ==='text'" class="">
            <span class="">Текст ответа</span>
            <input type="text" placeholder="Текст ответа" ng-model="question.aText">
          </div>
          <div ng-if="question.answerFormat ==='date'" class="" >
            <span class="">Дата <input type="date" ng-model="question.aDate"></i></span>
            <div style="text-align: center;">
              <i class="icon ion-calendar center" style="font-size: 50px;"> </i>
            </div>
          </div>
          <div ng-if="question.answerFormat ==='number'" class="">
            <span class="">Введите число</span>
            <input type="number" placeholder="Введите число" ng-model="question.aNumber">
          </div>
        </label>
        <div ng-if="question.questionType ==='select'">
          <div ng-if="question.isMulti" ng-repeat="variant in question.answer" on-hold="viewGeo(variant.geoValue)">
            <ion-checkbox ng-if="variant.textValue" ng-model="variant.cheked">
              <div ng-if="variant.textValue">
                {{variant.textValue}}
              </div>
              <div ng-if="variant.imageValue" style="text-align: center;">
                <div>Прикрепленное изображение</div>
                <img src={{variant.imageValue}} alt="" width="90%">
              </div>
              <div ng-if="variant.geoValue" style="text-align: center;">
                <div>Прикрепленное местоположение</div>
                <i class="icon ion-map center" style="font-size: 100px;"> </i>
              </div>
            </ion-checkbox>
          </div>
          <div ng-if="!question.isMulti" ng-repeat="variant in question.variants" on-hold="viewGeo(variant.geoValue)">
            <ion-radio ng-if="variant.textValue" ng-model="question.aId" ng-value="variant.id">
              <div ng-if="variant.textValue">
                {{variant.textValue}}
              </div>
              <div ng-if="variant.imageValue" style="text-align: center;">
                <div>Прикрепленное изображение</div>
                <img src={{variant.imageValue}} alt="" width="90%">
              </div>
              <div ng-if="variant.geoValue" style="text-align: center;">
                <div>Прикрепленное местоположение</div>
                <i class="icon ion-map center" style="font-size: 100px;"> </i>
              </div>
            </ion-radio>
          </div>
          <div class="spacer" style="width: 300px; height: 20px;"></div>
        </div>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar class="greenBG">
    <div class="button-bar">
      <a ng-if="isPrevExists" class="button icon ion-arrow-left-a greenBG" ng-click="goPrev()"></a>
      <a ng-if="isNextExists" class="button icon ion-arrow-right-a greenBG" ng-click="goNext()"></a>
    </div>
  </ion-footer-bar>
</ion-view>
