<ion-view>
  <div class="spinner" loading>
    <ion-spinner icon="android"></ion-spinner>
  </div>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-more-vertical" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <form class="list" novalidate="" name="quizForm">

      <ion-list class="manual-list-fullwidth">
        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : quizForm.name.$invalid }">
          <span class="input-label">Название</span>
          <input type="text" name="name" placeholder="Название опроса" ng-model="quiz.name" ng-minlength="5"
                 ng-maxlength="50" required>
        </label>
        <div class="error-container" ng-show="quizForm.name.$error" ng-messages="quizForm.name.$error">
          <div class="error" ng-message="required">
            <i class="ion-information-circled"></i>
            Необходимо указать название опроса
          </div>
          <div class="error" ng-message="minlength">
            <i class="ion-information-circled"></i>
            Минимальная длинна названия 5 символов
          </div>
          <div class="error" ng-message="maxlength">
            <i class="ion-information-circled"></i>
            Максимальная длинна названия 50 символов
          </div>
        </div>

        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : quizForm.description.$invalid}">
          <span class="input-label">Описание</span>
          <input type="text" name="description" placeholder="Описание опроса" ng-model="quiz.description"
                 ng-maxlength="500"
                 ng-class="{ 'has-errors' : quizForm.description.$invalid, 'no-errors' : quizForm.description.$valid}">
        </label>
        <div class="error-container" ng-show="quizForm.description.$error" ng-messages="quizForm.description.$error">
          <div class="error" ng-message="maxlength">
            <i class="ion-information-circled"></i>
            Максимальная длинна описания 500 символов
          </div>
        </div>

        <ion-toggle toggle-class="toggle-balanced" ng-model="quiz.isPublished">Опубликован</ion-toggle>
      </ion-list>
    </form>

    <ion-list class="manual-list-fullwidth">
      <ion-item class="item-divider">Список вопросов</ion-item>
      <div ng-repeat="question in quiz.questions">
        <ion-item class="item-icon-right"
                  ui-sref="app.quizDetail.edit.questionDetail({questionId:question.id})">
          {{question.text}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
  <ion-floating-button ng-click="createQuestion()" has-footer="false" button-color="#ff5252"
                       icon="ion-plus"
                       icon-color="#fff">
  </ion-floating-button>
</ion-view>


