<ion-view title="Опрос" id="quiz-info" style="background-color:#FFFFFF;">
  <ion-content padding="true">
    <ion-list id="page12-list22">
      <ion-item class="item-avatar" id="page12-list-item44">
        <img src="img/wchwXciRQyczYImZsQKa_snap.jpg">
        <h2>Антон</h2>
        <p>Лежнин</p>
      </ion-item>
    </ion-list>
    <div id="page12-markdown11" style="color:#000000;">
      <p>Дата создания опроса: 11.09.1994</p>
    </div>
    <h4 id="page12-heading3" style="color:#000000;">Название опроса</h4>
    <div id="page12-markdown8" style="color:#000000;">
      <p>Данный опрос является очень важным, бла бла бла бла бла. Данный опрос является очень важным, бла бла бла бла
        бла. Данный опрос является очень важным, бла бла бла бла бла. Данный опрос является очень важным, бла бла бла
        бла бла. Данный опрос является очень важным, бла бла бла бла бла.</p>
    </div>
    <div id="page12-markdown5" style="color:#000000;"></div>
    <div id="page12-markdown6" style="color:#000000;"></div>
    <a ui-sref="menu.quizProgress" id="page12-button5" class="button button-positive  button-block">Пройти опрос</a>
  </ion-content>
</ion-view>
