<ion-view>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-more-vertical" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <form class="list">
      <ion-list class="manual-list-fullwidth">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Название</span>
          <input type="text" placeholder="Название опроса" ng-model="quiz.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Описание</span>
          <input type="text" placeholder="Описание опроса" ng-model="quiz.description">
        </label>
        <ion-toggle toggle-class="toggle-balanced" ng-model="quiz.isPublished">Опубликован</ion-toggle>
      </ion-list>
    </form>
    <div style="color:#000000;"></div>
    <ion-list class="manual-list-fullwidth">
      <ion-item class="item-divider">Список вопросов</ion-item>
      <div ng-repeat="question in quiz.questions">
        <ion-item class="item-icon-right">
          {{question.text}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </div>
    </ion-list>
    <div style="color:#000000;"></div>
  </ion-content>
</ion-view>
