<ion-view title="Опрос" style="background-color:#FFFFFF;" show-tabs="true">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-more-vertical" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Опрос" icon="ion-clipboard" ui-sref="app.quizDetail.info({quizId:quizId})">
      <ion-view title="Опрос" id="quiz-info" style="background-color:#FFFFFF;">
        <ion-content padding="true">
          <ion-list id="page12-list22">
            <ion-item class="item-avatar" id="page12-list-item44">
              <img src={{user.avatar}}>
              <h2>{{user.firstName}}</h2>
              <p>{{user.lastName}}</p>
            </ion-item>
          </ion-list>
          <div id="page12-markdown11" style="color:#000000;">
            <p>Дата создания опроса: {{quize.creationDateFormated}}</p>
          </div>
          <h4 id="page12-heading3" style="color:#000000;">{{quize.name}}</h4>
          <div id="page12-markdown8" style="color:#000000;">
            <p>{{quize.description}}</p>
          </div>
          <div id="page12-markdown5" style="color:#000000;"></div>
          <div id="page12-markdown6" style="color:#000000;"></div>
          <a ui-sref="menu.quizProgress" id="page12-button5" class="button button-positive  button-block">Пройти опрос</a>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Ответы" icon="ion-ios-copy-outline" ui-sref="app.quizDetail.answers({quizId:quizId})">
      <ion-view>
        <ion-content padding="true">
          <div>
            ОТВЕТЫ
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
