<ion-view title="{{edit ? 'Мои опросы' : 'Опросы' }}" animation="fade-in-out">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="page5-list4" class="manual-list-fullwidth">
      <ion-item class="item-icon-right" id="page5-list-item12" ui-sref="app.quizDetail({quizId:1})">
        Мой опрос 1
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="page5-list-item13">
        Мой опрос 2
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="page5-list-item14">
        Мой опрос 3
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
