<ion-view title="Опрос" style="background-color:#FFFFFF;" show-tabs="true">
  <div class="spinner" loading>
    <ion-spinner icon="android"></ion-spinner>
  </div>
  <ion-nav-buttons side="right" class="has-header">
    <button ng-if="editable" class="button icon ion-android-more-vertical" ng-click="openPopover($event)"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Опрос" icon="ion-clipboard">
      <ion-view title="Опрос" style="background-color:#FFFFFF;">
        <ion-content padding="true">
          <ion-list>
            <ion-item class="item-avatar">
              <img ng-src={{quiz.user.avatar}}>
              <h2>{{quiz.user.firstName}}</h2>
              <p>{{quiz.user.lastName}}</p>
            </ion-item>
          </ion-list>
          <div style="color:#000000;">
            <p>Дата создания опроса: {{quiz.creationDate | date : 'dd/MM/yyyy'}}</p>
          </div>
          <h4 style="color:#000000;">{{quiz.name}}</h4>
          <div style="color:#000000;">
            <p>{{quiz.description}}</p>
          </div>
          <a ui-sref="app.quizProgress({quizId:quiz.id})" class="button button-positive  button-block">Пройти опрос</a>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab title="Ответы" icon="ion-ios-copy-outline">
      <ion-view>
        <ion-content padding="true">
          <label class="item item-select">
            <span class="input-label">Группировать по </span>
            <select ng-model="groupBy" ng-options="group as group.name for group in groups">
            </select>
          </label>
          <div ng-if="groupBy.id==='u'">
            <ion-list ng-repeat="user in users" class="manual-list-fullwidth">
              <ion-item class="item-avatar" ng-class="{active: isGroupShown(user)}" ng-click="toggleGroup(user) " >
                <img ng-src={{user.avatar}}>
                <h2>{{user.firstName}}</h2>
                <p>{{user.lastName}}</p>
                <i class="icon" ng-class="isGroupShown(user) ? 'ion-minus' : 'ion-plus'"></i>
                <ion-item class="item-accordion"
                         ng-repeat="answer in user.question.answers"
                         ng-show="isGroupShown(user)">
                         <div ng-if="answer.question.imageValue">
                           <div>Прикрепленное изображение</div>
                           <img ng-src="{{answer.question.imageValue}}" style="width : 90% ; ">
                         </div>
                         <div ng-if="answer.question.geoValue"  on-hold="viewGeo(answer.question.geoValue)">
                           <i class="icon ion-map center" style="font-size: 100px;"> </i>
                         </div>
                         <div ng-if="answer.question.text">
                           <div>{{answer.question.text}}</div>
                         </div>
                         Ответ:
                         <div ng-if="answer.variants">
                           <div ng-repeat="variant in answer.variants">
                             {{variant.textValue}}
                             <div ng-if="variant.imageValue">
                               <div>Прикрепленное изображение</div>
                               <img ng-src="{{variant.imageValue}}" style="width : 90% ; ">
                             </div>
                             <div ng-if="variant.geoValue" on-hold="viewGeo(variant.geoValue, $event)">
                               <i class="icon ion-map center" style="font-size: 100px;"> </i>
                             </div>
                           </div>
                         </div>
                         <div ng-if="answer.textValue">
                           {{answer.textValue}}
                         </div>
                         <div ng-if="answer.dateValue">
                           {{answer.dateValue}}
                         </div>
                         <div ng-if="answer.numericValue">
                           {{answer.numericValue}}
                         </div>
               </ion-item>
              </ion-item>
            </ion-list>
          </div>
          <div ng-if="groupBy.id==='q'">
            <ion-list ng-repeat="question in questions" class="manual-list-fullwidth">
              <ion-item class="" ng-class="{active: isGroupShown(question)}" ng-click="toggleGroup(question)">
                <div ng-if="question.imageValue">
                  <div>Прикрепленное изображение</div>
                  <img ng-src="{{question.imageValue}}" style="width : 90% ; ">
                </div>
                <div ng-if="question.geoValue" on-hold="viewGeo(question.geoValue)">
                  <i class="icon ion-map center" style="font-size: 100px;"> </i>
                </div>
                <div ng-if="question.text">
                  <div>{{question.text}}</div>
                </div>
                <i class="icon" ng-class="isGroupShown(question) ? 'ion-minus' : 'ion-plus'"></i>
                <ion-item class="item-accordion item-avatar"
                         ng-repeat="answer in question.answers"
                         ng-show="isGroupShown(question)">
                         <img ng-src={{answer.user.avatar}}>
                         <h2>{{answer.user.firstName}}</h2>
                         <p>{{answer.user.lastName}}</p>
                         Ответ:
                         <div ng-if="answer.answers[0].variants">
                           <div ng-repeat="variant in answer.answers[0].variants">
                             {{variant.textValue}}
                             <div ng-if="variant.imageValue">
                               <div>Прикрепленное изображение</div>
                               <img ng-src="{{variant.imageValue}}" style="width : 90% ; ">
                             </div>
                             <div ng-if="variant.geoValue" on-hold="viewGeo(variant.geoValue, $event)">
                               <i class="icon ion-map center" style="font-size: 100px;"> </i>
                             </div>
                           </div>
                         </div>
                         <div ng-if="answer.answers[0].textValue">
                           {{answer.answers[0].textValue}}
                         </div>
                         <div ng-if="answer.answers[0].dateValue">
                           {{answer.answers[0].dateValue}}
                         </div>
                         <div ng-if="answer.answers[0].numericValue">
                           {{answer.answers[0].numericValue}}
                         </div>
               </ion-item>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
