<ion-view title="{{edit ? 'Мои опросы' : 'Опросы' }}" animation="fade-in-out">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list ng-repeat="quize in quizes" id="page5-list4" class="manual-list-fullwidth">
      <ion-item class="item-icon-right" ui-sref="app.quizDetail.info({quizId:quize.id})">
        {{quize.name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-floating-button ui-sref="app.quizes.new({})" has-footer="false" button-color="#ff5252" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
</ion-view>
