<ion-view title="Вариант ответа" id="variant-edit">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-more-vertical"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="page11-list15" class="manual-list-fullwidth">
      <label class="item item-select" id="page11-select4">
        <span class="input-label">Формат</span>
        <select></select>
      </label>
    </ion-list>
  </ion-content>
</ion-view>
