.popover .scroll-content {
  overflow: visible !important;
}

ion-popover-view.fit {
  height: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  padding-top: 10px;
  padding-bottom: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.greenBG {
  background: #51B53F
}

div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
  z-index:1000;
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
}
